.post {
  margin-bottom: 80px;

  @media (max-width: 767px) {
    .home & {
      text-align: center;
    }
  }

  .entry-category {
    margin: 0;
    background-color: #dca3c6;
    line-height: 55px;
    padding-left: 15px;
    display: block;
    color: #ffffff;
    font-family: Lato;
    font-weight: 300;
    font-size: 38px;
    text-transform: uppercase;
    a {
      color: inherit;
    }
  }

  .entry-title {
    color: #000000;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;

    @media (min-width: 768px) {
      font-size: 35px;
    }

    a {
      color: inherit;
    }
  }

  .meta {
    margin: 10px 0;
  }

  .updated {
    color: #545454;
    font-family: Lato;
    font-size: 17px;
    font-weight: 300;
  }

  .tags {
    float: right;
    color: #868686;
    font-family: Lato;
    font-size: 17px;
    font-weight: 300;
    text-transform: lowercase;

    a {
      color: #de93bf;
      &:not(:last-child) {
        padding: 0 5px;
      }
    }

  }

  .entry-summary,
  .entry-content {
    color: #000000;
    font-family: Lato;
    font-weight: 300;
    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  .entry-summary {
    a {
      display: block;
      background-color: #000;
      color: #fff;
      width: 150px;
      margin: 15px auto;
      line-height: 30px;
      text-align: center;
    }
  }
}
