.post {
  margin-bottom: 80px;

  .entry-category {
    margin: 0;
    background-color: #dca3c6;
    line-height: 55px;
    padding-left: 15px;
    a {
      display: block;
      color: #ffffff;
      font-family: Lato;
      font-size: 38px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .entry-title a {
    color: #000000;
    font-family: Lato;
    font-size: 35px;
    font-weight: 400;
  }

  .meta {
    margin: 10px 0;
  }

  .updated {
    color: #545454;
    font-family: Lato;
    font-size: 17px;
    font-weight: 300;
  }

  .tags {
    float: right;
    color: #868686;
    font-family: Lato;
    font-size: 17px;
    font-weight: 300;
    text-transform: lowercase;

    a {
      color: #de93bf;
      &:not(:last-child) {
        padding: 0 5px;
      }
    }

  }

  .entry-summary,
  .entry-content {
    color: #000000;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
  }
}
